* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

body {
    font: 13px/18px 'Quicksand', Arial, Helvetica, sans-serif;
    line-height: 18px;
    color: #000;
    margin: 0 0 0 0;
    background: #2D67E4;
}

#page {
	width: 628px;
	margin: 0 auto;
	text-align: center;
	padding: 4em 0 0 0;

	img {
		width: 50%;
	}
}

.menu {
    margin-top: 6em;

    a {
        color: #f7f7f7;
        text-decoration: none;
        font-size: 1.3em;
    }
}

.button {
    flex: 1 1 auto;
    margin: 10px;
    padding: 20px;
    border: 2px solid #f7f7f7;
    text-align: center;
    position: relative;
    overflow: hidden;
    transition: .3s;

    &:after {
        position: absolute;
        transition: .3s;
        content: '';
        width: 0;
        left: 50%;
        bottom: 0;
        height: 3px;
        background: #f7f7f7;
    }

    &:hover {
        cursor: pointer;
        box-shadow: inset 0px 0px 0px 3px #f7f7f7;

        &:after {
            width: 0%;
            left: 0;
        }
    }
}