extends partials/layout

block content
	#login
		img(src="../images/winogrono-logo.png" alt="Dashboard")
		form(method="POST")
			br

			label(for="username") Username
			input#username.input-login(name="username", type="text")

			label(for="password") Password
			input#password.input-login(name="password", type="password")

			br
			br

			a.submit-login(href="/auth/login") Login
			<!-- input.submit-login(name="submit", value="Login", type="submit") -->



